<!DOCTYPE html>
<html>
    <head>
        <title>WemanConnect|Blog</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
    </head>
    <body>
           
           <div id="contenedor">
               
               <div id="cabecera">
                    <img id=pic src="img/picture.jpg" width="150px" height="150px";>
                    
                <h1>Weman Connect</h1>
       
            
            
            <button class="icon">
                    <i class="fas fa-user-circle fa-3x "></i>
            </button>
            
            <button class="icon">
                    <i class="fas fa-share-alt-square fa-3x"></i>
           
                </button>
            
        
        </div>

        <div class="entradas">
            <img class=img src="img/img1.png" max-width="100%" height="100%";>   
        <h2>Entrada de noticias</h2>
        
        <p> 
            
        </p>
       

        </div>

        <div class="entradas">
             <img class=img src="img/img2.jpg" max-width="100%" height="100%";>   
        <h2>Entrada de noticias</h2>
        
        <p>
      
            
        
        </p>
      
    </div>

        <div class="entradas">
                <img class=img src="img/img1.png" max-width="100%" height="100%";>   
        <h2>Entrada de noticias</h2>
        
        <p>
       
           

        </p>
    </div>  

        <div class="entradas">
                <img class=img src="img/img1.png" max-width="100%" height="100%";>   
        
        <h2>Entrada de noticias</h2>
    
        <p>
            
             

        </p>
            </div>
        </div>
    </body>
</html>