<!DOCTYPE html>
<html>
    <head>
        <title>WemanConnect|WemanConnect</title>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
        
    </head>
    <body>

           <div id="contenedor">
               <div id="cabecera">
            
        <h1>Weman Connect</h1>
            <img id=pic src="img/picture.jpg"max-width="80px"; height="80px";>
            
            <button class="icon">
                    <i class="fas fa-user-circle fa-3x "></i>
            </button>

            
        
        </div>

        <div class="entradas">
        <h2>Entrada de noticias</h2>
        
        <p> 
            
        </p>
       

        </div>

        <div class="entradas">
        <h2>Entrada de noticias</h2>
        
        <p>
      
            
        
        </p>
      
    </div>

        <div class="entradas">
        <h2>Entrada de noticias</h2>
        
        <p>
       
           

        </p>
    </div>  

        <div class="entradas">
        
        <h2>Entrada de noticias</h2>
    
        <p>
            
             

        </p>
            </div>
        </div>
    </body>
</html>