body{
    width: 100%;
}
#cabecera{
    background-color:white;
    min-height: 20%;
    max-width: 100%;
    border:gray 2px solid;
    overflow: auto;
   
}

#pic{
    border-radius: 10%;
  float: left;

    

}
.icon{
    float:right;
  
    
  

}
.entradas{
    background-color: rgb(211, 209, 209);
    width: 90%;
    height: 200px;
    border:gray 2px solid;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    background: -webkit-linear-gradient(left, rgb(230, 213, 213) , rgb(144, 144, 206)); 

}
h2{
    margin-left: 50px;
    font-family: cursive;
}
h1{
   
    text-align: center;
    font-size: 50px;
    font-family: cursive;
  

    
  
   
}
.img{
    float: right;
    
}

